<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>TDDD24Project.html</welcome-file>
  </welcome-file-list>

  <!-- Servlets -->
  <servlet>
    <servlet-name>projectServiceImpl</servlet-name>
    <servlet-class>com.TDDD24Project.server.ProjectServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>projectServiceImpl</servlet-name>
    <url-pattern>/tddd24project/project</url-pattern>
  </servlet-mapping>
  
  
</web-app>